body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  canvas {
    position: absolute;
  }

  .container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .placeholder-text {
    position: absolute;
    bottom: 10px;
  }

  #video {
    /* position: absolute; */
    visibility: hidden;
  }

  /* SVG animations based on expression */

  #emotion-svg {
    position: absolute;
    display: grid;
    place-items: center;
  }

  #Head.active {
    animation: swing 800ms linear infinite alternate;

    transform-origin: bottom;
    transform-box: fill-box;
  }

  #mouth {
    transform: rotate(180deg);
    transform-origin: center;
    transform-box: fill-box;

    transition: all 800ms linear;
  }

  #mouth.active {
    transform: rotate(0deg);
  }


  #right-hand.active {
    animation: swing-right 500ms linear infinite alternate;

    transform-origin: top right;
    transform-box: fill-box;
  }

  #left-hand.active {
    animation: swing-left 500ms linear infinite alternate;

    transform-origin: top left;
    transform-box: fill-box;
  }

  #right-leg.active {
    animation: swing-right 500ms linear infinite alternate;

    transform-origin: center;
    transform-box: fill-box;
  }

  #left-leg.active {
    animation: swing-left 500ms linear infinite alternate;

    transform-origin: center;
    transform-box: fill-box;
  }

  @keyframes swing {
    from {
      transform: rotateZ(20deg);
    }
    to {
      transform: rotateZ(-20deg);
    }
  }

  @keyframes swing-right {
    to {
      transform: rotateZ(20deg);
    }
  }

  @keyframes swing-left {
    to {
      transform: rotateZ(-20deg);
    }
  }

